extends layout

block content
    h1= title
    div(style='float:left;')
        img(style='display:inline; vertical-align:middle;' src=imgicon)
        h2(style='display:inline; vertical-align:middle;')= weather